# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Large Unity files
# *.unity # Don't ignore all scenes
**/Assets/_Generated/Bundles/
**/Assets/_Generated/Maps/
Assets/_Generated/
MapGen_Project/Assets/_Generated/**/*.unity
UberUnity/
/Assets/UberUnity/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
*.env

# Large files
*.pak
# *.exe # Scope to builds
# *.dll # Scope to builds
Build/**/*.exe
Build/**/*.dll
Output/**/*.exe
Output/**/*.dll
*.dat
*.asar

# IDE
.vs/
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

/Assets/_Generated/Maps/

# DesktopAgent Artifacts
datasets/
models/
*.pkl
*.npy
*.npz
debug_*.py
debug_*.txt
Output/
